node_modules/
dist/
.idea/
.DS_Store
.eslintcache
tsconfig.tsbuildinfo
src/data/tools/Text-Editor/.cursor/
.claude
src/books/*
.env
build/
gateway.zip
.env.prod
Support/
apps/platform/public/books/
cdk.out
# symlink
apps/platform/public/books
apps/wukong/public/books
.vscode/
apps/player/src/components/ContentShiftWrapperOld.tsx
.repoprompt/
compiled-books/*/
.repo_ignore
.env.local

