node_modules/
dist/
.idea/
.DS_Store
.eslintcache
tsconfig.tsbuildinfo
src/data/tools/Text-Editor/.cursor/
.claude
src/books/*
public/books/
public/1984
public/1984-English
public/Alice-Wonderland
public/Conrad-Tajny-Agent
public/Fatherland
public/Krolowa-Sniegu
public/Lalka
public/Macbeth
public/Midsummer-Nights-Dream
public/Othello
public/Pharaon
public/Romeo-And-Juliet
public/Romeo-And-Juliet-Small
public/Snow-Queen
public_books/*/bookData.ts
public_books/*/getAudiobookTracksForBook.ts
public_books/*/getBookStringified.ts
public_books/*/getCharactersData.ts
public_books/*/getKnownVideoFiles.ts
public_books/*/getQuizQuestions.ts
public_books/*/getAllVariants.ts

