extracted_content/
public/pharaon/
public/1984/
node_modules/
env/
data/
.env
.idea/
seq-logs/
public/april-frontend/
build-answer-server/
/*.txt
/*.json
src/standalone-scripts/create-song-titles-and-images/*.png
**/.DS_Store
books-data/**/*.mp3
src/standalone-scripts/gradeAndSimplifyBookSentences/output/ch*.json
src/standalone-scripts/splitSentencesIntoThoughts/output/*-*.json

books-data/*/temporary-output/embeddings.json
src/standalone-scripts/gradeAndSimplifyBookSentences/output-modern-clarity
src/standalone-scripts/gradeAndSimplifyBookSentences/output-modern-feel
exports/
server/uploads/
server/downloads/
.env.tmp

src/standalone-scripts/gradeAndSimplifyBookSentences/output-modern-*
src/standalone-scripts/gradeAndSimplifyBookSentences/evaluator-claude/frontend/public/api-data/spans/
