/* Mobile notes icon */
.mobile-notes-icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #4a90e2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 5px auto;
  border: 2px solid #ddd;
}

/* Stagger animation delay variable for entity notes */
.entity-note {
  --stagger-delay: 0s;
}

#right-notes.visible {
  visibility: visible;
}

/* Notes display */
#right-notes-scrollable-container {
  /* Default state is hidden */
  display: none;
}

/* Modal states */
.modal-overlay.active,
#note-modal.visible,
#note-modal-overlay.visible {
  /* Visible state for modals */
  display: block;
}

/* Fade states */
.faded {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

/* Modal open body state */
body.modal-open {
  overflow: hidden;
}

@keyframes blinkEffect {
  0%,
  100% {
    background-color: rgba(var(--bg-content-light-rgb), 1); /* Replaced inherit */
  }
  50% {
    background-color: var(--entity-talking-highlight-bg-light); /* Stronger blue tint */
    /* --entity-talking-highlight-border-light: rgba(255, 215, 0, 0.6); */
  }
}

/* Keyframes for pulsing scale effect */
@keyframes pulseScale {
  0% {
    transform: scale(1.13);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.13);
  }
}

@keyframes pulseGlow {
  0% {
    transform: scale(1.2) rotate(0.1deg);
    box-shadow: 0 0 8px var(--entity-image-wrapper-shadow-min-light);
  }
  50% {
    transform: scale(1.4) rotate(0.1deg);
    box-shadow: 0 0 15px var(--entity-image-wrapper-shadow-max-light);
  }
  100% {
    transform: scale(1.2) rotate(0.1deg);
    box-shadow: 0 0 8px var(--entity-image-wrapper-shadow-min-light);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shimmerEffect {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  } /* Ensure shimmer moves fully across */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
